In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
import polars as pl

In [4]:
path = './volumes/output.csv'
columns=['timestamp', 'job_id', 'position', 'location', 'job', 'company', 'attempted', 'result']

df = pl.read_csv(path,new_columns=columns, has_header=False,try_parse_dates=True)

In [5]:
df = df.filter(pl.col("result") ==True)

In [10]:
path = './volumes/output2.csv'
df.write_csv(file=path,include_header=False,datetime_format='%Y-%m-%d %H:%M:%S')

In [11]:
df.describe

<bound method DataFrame.describe of shape: (2_414, 8)
┌────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬───────────┬────────┐
│ timestamp  ┆ job_id     ┆ position   ┆ location   ┆ job        ┆ company    ┆ attempted ┆ result │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---    │
│ datetime[μ ┆ i64        ┆ str        ┆ str        ┆ str        ┆ str        ┆ bool      ┆ bool   │
│ s]         ┆            ┆            ┆            ┆            ┆            ┆           ┆        │
╞════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪════════╡
│ 2023-10-24 ┆ 3740116807 ┆ null       ┆ &location= ┆ Data       ┆ Encoretech ┆ true      ┆ true   │
│ 04:40:48   ┆            ┆            ┆ European   ┆ Analyst    ┆            ┆           ┆        │
│            ┆            ┆            ┆ Economic   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Area       ┆            ┆            ┆           ┆        │
│ 2023-10-24 ┆ 3281711737 ┆ null       ┆ &location= ┆ Data       ┆ Kabel      ┆ true      ┆ true   │
│ 04:44:40   ┆            ┆            ┆ European   ┆ Consultant ┆            ┆           ┆        │
│            ┆            ┆            ┆ Economic   ┆ (Azure,    ┆            ┆           ┆        │
│            ┆            ┆            ┆ Area       ┆ Power Bi…  ┆            ┆           ┆        │
│ 2023-10-24 ┆ 3705985001 ┆ null       ┆ &location= ┆ Data       ┆ Universal  ┆ true      ┆ true   │
│ 04:45:16   ┆            ┆            ┆ European   ┆ Analyst    ┆ Diagnostic ┆           ┆        │
│            ┆            ┆            ┆ Economic   ┆            ┆ s S.A.     ┆           ┆        │
│            ┆            ┆            ┆ Area       ┆            ┆            ┆           ┆        │
│ 2023-10-24 ┆ 3744782669 ┆ null       ┆ &location= ┆ Senior     ┆ Luxoft     ┆ true      ┆ true   │
│ 04:47:27   ┆            ┆            ┆ European   ┆ Data       ┆            ┆           ┆        │
│            ┆            ┆            ┆ Economic   ┆ Analyst    ┆            ┆           ┆        │
│            ┆            ┆            ┆ Area       ┆            ┆            ┆           ┆        │
│ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         ┆ …      │
│ 2023-11-12 ┆ 3762074670 ┆ Data       ┆ &location= ┆ SATIŞ      ┆ MACRO MH   ┆ true      ┆ true   │
│ 14:49:35   ┆            ┆ Scientist  ┆ Turkey     ┆ SONRASI    ┆ MATERIAL   ┆           ┆        │
│            ┆            ┆            ┆            ┆ HİZMETLER  ┆ HANDLING   ┆           ┆        │
│            ┆            ┆            ┆            ┆ ASİSTANI   ┆            ┆           ┆        │
│ 2023-11-12 ┆ 3763664773 ┆ Data       ┆ &location= ┆ Accountant ┆ Datall Co. ┆ true      ┆ true   │
│ 14:50:01   ┆            ┆ Scientist  ┆ Turkey     ┆            ┆            ┆           ┆        │
│ 2023-11-12 ┆ 3762123810 ┆ Data       ┆ &location= ┆ C sınıfı   ┆ GMK ENDÜST ┆ true      ┆ true   │
│ 14:51:47   ┆            ┆ Scientist  ┆ Turkey     ┆ isg veya   ┆ RİYEL      ┆           ┆        │
│            ┆            ┆            ┆            ┆ tekniker   ┆ ÜRÜNLER    ┆           ┆        │
│            ┆            ┆            ┆            ┆            ┆ TİCARET …  ┆           ┆        │
│ 2023-11-12 ┆ 3762105263 ┆ Data       ┆ &location= ┆ Muhasebe   ┆ Serbest    ┆ true      ┆ true   │
│ 14:53:35   ┆            ┆ Scientist  ┆ Turkey     ┆ elemanı    ┆ Muhasebeci ┆           ┆        │
│            ┆            ┆            ┆            ┆            ┆ Mali       ┆           ┆        │
│            ┆            ┆            ┆            ┆            ┆ Müşavir …  ┆           ┆        │
└────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴───────────┴────────┘>

In [27]:
# df.filter(pl.col('company').str.to_lowercase().str.strip_chars().str.contains('gmk'))
df.filter(pl.col('company').str.to_lowercase().str.contains('clarus'))

shape: (0, 8)
┌──────────────┬────────┬──────────┬──────────┬─────┬─────────┬───────────┬────────┐
│ timestamp    ┆ job_id ┆ position ┆ location ┆ job ┆ company ┆ attempted ┆ result │
│ ---          ┆ ---    ┆ ---      ┆ ---      ┆ --- ┆ ---     ┆ ---       ┆ ---    │
│ datetime[μs] ┆ i64    ┆ str      ┆ str      ┆ str ┆ str     ┆ bool      ┆ bool   │
╞══════════════╪════════╪══════════╪══════════╪═════╪═════════╪═══════════╪════════╡
└──────────────┴────────┴──────────┴──────────┴─────┴─────────┴───────────┴────────┘

In [8]:
df.glimpse()

Rows: 2414
Columns: 8
$ timestamp <datetime[μs]> 2023-10-24 04:40:48, 2023-10-24 04:44:40, 2023-10-24 04:45:16, 2023-10-24 04:47:27, 2023-10-24 04:50:09, 2023-10-24 04:50:55, 2023-10-24 04:52:50, 2023-10-24 04:55:15, 2023-10-24 04:57:05, 2023-10-24 05:12:44
$ job_id             <i64> 3740116807, 3281711737, 3705985001, 3744782669, 3705877501, 3737987670, 3728215830, 3730247083, 3735059598, 3741786261
$ position           <str> None, None, None, None, None, None, None, None, None, None
$ location           <str> '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area'
$ job                <str> 'Data Analyst', 'Data Consultant (Azure, Power Bi)', 'Data Analyst', 'Senior Data Analyst', 'Data Analyst', 'Data Analyst', 'Consultor/a BI', 'Data Expert Analyst', 'Data Analyst (Power BI) & AWS Services (S3/Redshift)', 'Analytics Consultant'
$ company            <str> 'Encoretech', 'Kabel', 'Universal Diagnostics S.A.', 'Luxoft', 'RealNaut', 'Remote', 'NTT DATA', 'Keepler Data Tech', 'Bluetab, an IBM Company', 'P3'
$ attempted         <bool> True, True, True, True, True, True, True, True, True, True
$ result            <bool> True, True, True, True, True, True, True, True, True, True

In [9]:
df.group_by(["location","result"]).agg([pl.count()])

shape: (5, 3)
┌──────────────────────────────────┬────────┬───────┐
│ location                         ┆ result ┆ count │
│ ---                              ┆ ---    ┆ ---   │
│ str                              ┆ bool   ┆ u32   │
╞══════════════════════════════════╪════════╪═══════╡
│ &location=Turkey                 ┆ true   ┆ 541   │
│ &location=Denmark                ┆ true   ┆ 76    │
│ &location=Germany                ┆ true   ┆ 300   │
│ &location=Netherlands            ┆ true   ┆ 765   │
│ &location=European Economic Area ┆ true   ┆ 732   │
└──────────────────────────────────┴────────┴───────┘

---

In [ ]:
df_successfull.describe()

In [ ]:
file_path = './volumes/output2.csv'
df.to_csv(file_path,index=False,header=False)

In [ ]:
df.groupby(['location','result']).size().reset_index(name='counts')

In [ ]:
df.groupby(['position','result']).size().reset_index(name='counts')