In [36]:
import pandas as pd
import numpy as np
from datetime import datetime
import polars as pl

In [37]:
path = './volumes/output.csv'
columns=['timestamp', 'job_id', 'position', 'location', 'job', 'company', 'attempted', 'result']

df = pl.read_csv(path,new_columns=columns, has_header=False,try_parse_dates=True)

In [38]:
df = df.filter(pl.col("result") ==True)

In [39]:
path = './volumes/output2.csv'
df.write_csv(file=path,has_header=False,datetime_format='%Y-%m-%d %H:%M:%S')

In [40]:
df.describe

<bound method DataFrame.describe of shape: (1_287, 8)
┌─────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬───────────┬────────┐
│ timestamp   ┆ job_id     ┆ position  ┆ location   ┆ job        ┆ company    ┆ attempted ┆ result │
│ ---         ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---    │
│ datetime[μs ┆ i64        ┆ str       ┆ str        ┆ str        ┆ str        ┆ bool      ┆ bool   │
│ ]           ┆            ┆           ┆            ┆            ┆            ┆           ┆        │
╞═════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪═══════════╪════════╡
│ 2023-10-24  ┆ 3740116807 ┆ null      ┆ &location= ┆ Data       ┆ Encoretech ┆ true      ┆ true   │
│ 04:40:48    ┆            ┆           ┆ European   ┆ Analyst    ┆            ┆           ┆        │
│             ┆            ┆           ┆ Economic   ┆            ┆            ┆           ┆        │
│             ┆            ┆           ┆ Area       ┆            ┆            ┆           ┆        │
│ 2023-10-24  ┆ 3281711737 ┆ null      ┆ &location= ┆ Data       ┆ Kabel      ┆ true      ┆ true   │
│ 04:44:40    ┆            ┆           ┆ European   ┆ Consultant ┆            ┆           ┆        │
│             ┆            ┆           ┆ Economic   ┆ (Azure,    ┆            ┆           ┆        │
│             ┆            ┆           ┆ Area       ┆ Power Bi…  ┆            ┆           ┆        │
│ 2023-10-24  ┆ 3705985001 ┆ null      ┆ &location= ┆ Data       ┆ Universal  ┆ true      ┆ true   │
│ 04:45:16    ┆            ┆           ┆ European   ┆ Analyst    ┆ Diagnostic ┆           ┆        │
│             ┆            ┆           ┆ Economic   ┆            ┆ s S.A.     ┆           ┆        │
│             ┆            ┆           ┆ Area       ┆            ┆            ┆           ┆        │
│ 2023-10-24  ┆ 3744782669 ┆ null      ┆ &location= ┆ Senior     ┆ Luxoft     ┆ true      ┆ true   │
│ 04:47:27    ┆            ┆           ┆ European   ┆ Data       ┆            ┆           ┆        │
│             ┆            ┆           ┆ Economic   ┆ Analyst    ┆            ┆           ┆        │
│             ┆            ┆           ┆ Area       ┆            ┆            ┆           ┆        │
│ …           ┆ …          ┆ …         ┆ …          ┆ …          ┆ …          ┆ …         ┆ …      │
│ 2023-11-04  ┆ 3754984926 ┆ Data Lead ┆ &location= ┆ Interim    ┆ Ahold      ┆ true      ┆ true   │
│ 10:24:52    ┆            ┆           ┆ Netherland ┆ Data &     ┆ Delhaize   ┆           ┆        │
│             ┆            ┆           ┆ s          ┆ Analytics  ┆            ┆           ┆        │
│             ┆            ┆           ┆            ┆ Special…   ┆            ┆           ┆        │
│ 2023-11-04  ┆ 3736894836 ┆ Data Lead ┆ &location= ┆ Legal      ┆ Major,     ┆ true      ┆ true   │
│ 10:29:22    ┆            ┆           ┆ Netherland ┆ Counsel    ┆ Lindsey &  ┆           ┆        │
│             ┆            ┆           ┆ s          ┆ Data &     ┆ Africa     ┆           ┆        │
│             ┆            ┆           ┆            ┆ Privacy    ┆            ┆           ┆        │
│ 2023-11-04  ┆ 3756394734 ┆ Data Lead ┆ &location= ┆ Medewerker ┆ USG Engine ┆ true      ┆ true   │
│ 10:29:47    ┆            ┆           ┆ Netherland ┆ Asset Data ┆ ering NL   ┆           ┆        │
│             ┆            ┆           ┆ s          ┆            ┆            ┆           ┆        │
│ 2023-11-04  ┆ 3747015073 ┆ Data Lead ┆ &location= ┆ Junior     ┆ ilionx     ┆ true      ┆ true   │
│ 10:30:17    ┆            ┆           ┆ Netherland ┆ Data Profe ┆            ┆           ┆        │
│             ┆            ┆           ┆ s          ┆ ssional    ┆            ┆           ┆        │
└─────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴───────────┴────────┘>

In [41]:
df.glimpse()

Rows: 1287
Columns: 8
$ timestamp <datetime[μs]> 2023-10-24 04:40:48, 2023-10-24 04:44:40, 2023-10-24 04:45:16, 2023-10-24 04:47:27, 2023-10-24 04:50:09, 2023-10-24 04:50:55, 2023-10-24 04:52:50, 2023-10-24 04:55:15, 2023-10-24 04:57:05, 2023-10-24 05:12:44
$ job_id             <i64> 3740116807, 3281711737, 3705985001, 3744782669, 3705877501, 3737987670, 3728215830, 3730247083, 3735059598, 3741786261
$ position           <str> None, None, None, None, None, None, None, None, None, None
$ location           <str> '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area', '&location=European Economic Area'
$ job                <str> 'Data Analyst', 'Data Consultant (Azure, Power Bi)', 'Data Analyst', 'Senior Data Analyst', 'Data Analyst', 'Data Analyst', 'Consultor/a BI', 'Data Expert Analyst', 'Data Analyst (Power BI) & AWS Services (S3/Redshift)', 'Analytics Consultant'
$ company            <str> 'Encoretech', 'Kabel', 'Universal Diagnostics S.A.', 'Luxoft', 'RealNaut', 'Remote', 'NTT DATA', 'Keepler Data Tech', 'Bluetab, an IBM Company', 'P3'
$ attempted         <bool> True, True, True, True, True, True, True, True, True, True
$ result            <bool> True, True, True, True, True, True, True, True, True, True

In [45]:
df.group_by(["location","result"]).agg([pl.count()])

shape: (5, 3)
┌──────────────────────────────────┬────────┬───────┐
│ location                         ┆ result ┆ count │
│ ---                              ┆ ---    ┆ ---   │
│ str                              ┆ bool   ┆ u32   │
╞══════════════════════════════════╪════════╪═══════╡
│ &location=European Economic Area ┆ true   ┆ 732   │
│ &location=Netherlands            ┆ true   ┆ 207   │
│ &location=Turkey                 ┆ true   ┆ 284   │
│ &location=Germany                ┆ true   ┆ 35    │
│ &location=Denmark                ┆ true   ┆ 29    │
└──────────────────────────────────┴────────┴───────┘

---

In [ ]:
df_successfull.describe()

In [ ]:
file_path = './volumes/output2.csv'
df.to_csv(file_path,index=False,header=False)

In [ ]:
df.groupby(['location','result']).size().reset_index(name='counts')

In [ ]:
df.groupby(['position','result']).size().reset_index(name='counts')